/* You can add global styles to this file, and also import other style files */
.container {
    width: 100%;
    max-width: 960px; /* Adjust this value according to your design */
    margin: 0 auto; /* Center the container */
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
  }

  
  /* Media query for standard screens */
  @media only screen and (min-width: 768px) {
    .container {
      padding: 8px;
    }
  }

  /* Additional styles for larger screens */
  @media only screen and (min-width: 992px) {
    .container {
      padding: 10px;
    }
  }

  /* Additional styles for extra-large screens */
  @media only screen and (min-width: 1200px) {
    .container {
      padding: 20px;
    }
  }